<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Page Contact</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Cette page est consacrée à ma maison en bord de mer, près de La Rochelle." />
<meta name="keywords" content="maison bord de mer,location la rochelle,maison mer la rochelle" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="global">
<div id="bandeau">
	<span class="titreSite">Nom de mon site</span>
	<br />
	<span class="slogan">Le slogan de mon site Internet r&eacute;alis&eacute; en une heure!</span>
</div>
 
<ul id="menu">
	<li><a href="index.html" title="Voir la page d'accueil">Accueil</a></li><li><a href="#" title="Voir les photos">Les photos</a></li><li><a href="#" title="Voir les informations">Les informations</a></li><li><a href="contact.html" title="Voir la page contact">Contact</a></li>
</ul>
	<div id="contenu">
		<h1>Page Contact</h1>
		<p>
		Vous pouvez nous contacter par :<br/><br/>
		Email : adresse@gmail.com <br/>
		T&eacute;l&eacute;phone : 06.00.00.00.00
		</p>
		<div style="clear:both;"></div>
		<div id="piedDePage">
			Copyright Nom de mon site
		</div>

	</div>
</div>

</body>
</html>
