<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    {% csrf_token %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'pages.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'maps.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Title</title>

</head>

<body>
<div class="container">
  <div id="content" >

    <h3>Search for a partner</h3>
    <h4> Mode : {{ mode }} </h4>

    <fieldset>
      <div id="wanted_cities">

        <label for="city">City <em>(click on a marker on the map, choose from the list, or add your own city)</em></label>
        <div id="map"></div>
        <select title="city_Select" id="citySelect"></select>
        <label for="addWantedCityField"></label>
        <input title="addCity" id="city"/>
        <p id="wantedCityWarning"></p>
      </div>
    </fieldset>


    <fieldset>
      <button id="searchButton">Search</button>
      <!--<button name="submit" type="submit" id="submitButton" data-submit="...Sending" onclick="submitChanges()" >Search</button> !-->
    </fieldset>

     <h4>Available Partners List :</h4>
    <table>
      <tr>
          <th><div id="PartnersListid"></div></th>
        <th><div id="PartnersListfname"></div></th>
        <th align="left"><div id="PartnersListlname"></div></th>
        <th align="left"><div id="PartnersListmode"></div></th>
      <tr>

    </table>


  </div>

</div>
  <p id="result"></p>
  <script src="https://openlayers.org/en/v4.5.0/build/ol.js" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'js/searchnew.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>

</body>
