{% extends 'base.html' %}

{% block title %} {{user_name}}'s Dashboard {% endblock %}

{% load static %}
{% block content %}

    <div id="content">
        <a href="{% url 'editprofile' %}?userId={{user_id}}" class="btn btn-primary btn-default" style="float: right">
            <span class="glyphicon glyphicon-pencil"></span> &nbsp; &nbsp; Edit Profile
        </a>
        <h1>Profile: <em id="userName">{{ user_name }}</em></h1>
        {% load static %}
        <img src="{% static profile_image %}" height="100px">
        <div>
            {% if user_id %}
                <button id="favourite" value="self">This is you!</button>
            {% elif already_friends %}
                <button id="favourite" value="remove">Remove favourite</button>
            {% else %}
                <button id="favourite" value="add">Add favourite</button>
            {% endif %}
            {% if not user_id %}
                <form action="message.html">
                    <button type="submit">Send message</button>
                </form>
            {% endif %}
        </div>
        <h2>Info</h2>
        <ul>
            <li><em>Name:</em> {{ first_name }} {{ last_name }}</li>
            <li><em>City:</em> <span id="city">{{ city }}</span>
                <div id="map"></div>
            </li>
            <li><em>Bio:</em> {{ bio }}</li>
            <li>
                <em>Speaks:</em>
                {% if spoken_languages %}
                    <ol>
                        {% for language in spoken_languages %}
                            <li>{{ language }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <span>No languages entered yet.</span>
                {% endif %}
            </li>
            <li>
                <em>Wants to learn:</em>
                {% if wanted_languages %}
                    <ol>
                        {% for language in wanted_languages %}
                            <li>{{ language }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <span>No languages entered yet.</span>
                {% endif %}
            </li>
        </ul>
    </div>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/ol.js' %}"></script>

<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/viewprofile.js' %}" type="text/javascript"></script>

{% endblock %}