{% extends 'base.html' %}

{% block title %} {{user}}'s Dashboard {% endblock %}

{% block content %}
    <div id="content">
        <h1>Profile: <em id="userName">{{ user.username }}</em></h1>
        {% load static %}
        <img src="{% static profile_image %}" height="100px">
        <div>
            {% if self %}
                <button id="favourite" value="self">This is you!</button>
            {% elif already_friends %}
                <button id="favourite" value="remove">Remove favourite</button>
            {% else %}
                <button id="favourite" value="add">Add favourite</button>
            {% endif %}
            {% if not self %}
                <form action="message.html">
                    <button type="submit">Send message</button>
                </form>
            {% endif %}
        </div>
        <h2>Info</h2>
        <ul>
            <li><em>Name:</em> {{ user.first_name }} {{ user.last_name }}</li>
            <li><em>City:</em> <span id="city">{{ city }}</span>
                <div id="map"></div>
            </li>
            <li><em>Bio:</em> {{ bio }}</li>
            <li>
                <em>Speaks:</em>
                {% if spoken_languages %}
                    <ol>
                        {% for language in spoken_languages %}
                            <li>{{ language }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <span>No languages entered yet.</span>
                {% endif %}
            </li>
            <li>
                <em>Wants to learn:</em>
                {% if wanted_languages %}
                    <ol>
                        {% for language in wanted_languages %}
                            <li>{{ language }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <span>No languages entered yet.</span>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}